.table-outline {
    margin-bottom: 10px;
    background: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);

    border: 1px solid var(--md-sys-color-outline);
    border-radius: 6px;
    overflow: hidden;
}

.table-outline table {
    width: 100%;
    border-collapse: collapse;
}

.table-outline tr {
    border-bottom: 1px solid var(--md-sys-color-outline);
}

.table-outline tr:last-child {
    border-bottom: none;
}

.table-outline td {
    width: 50%;
    vertical-align: middle;
}

.table-outline td:first-child {
    border-right: 1px solid var(--md-sys-color-outline);
}

.table-outline td div {
    padding: 10px 12px;
    font-size: 14px;
}

.table-outline .label {
    font-weight: 500;
}

.table-outline .value {
    text-align: right;
}
