:root {
    --md-sys-color-primary: #194876;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #D8DDE0;
    --md-sys-color-on-primary-container: #263D54;
    --md-sys-color-secondary: #414C57;
    --md-sys-color-on-secondary: #FFFFFF;
    --md-sys-color-secondary-container: #D3E9FF;
    --md-sys-color-on-secondary-container: #3F4D5A;
    --md-sys-color-tertiary: #3C728D;
    --md-sys-color-on-tertiary: #FFFFFF;
    --md-sys-color-tertiary-container: #D8DDE0;
    --md-sys-color-on-tertiary-container: #324655;
    --md-sys-color-error: #BA1A37;
    --md-sys-color-on-error: #FFFFFF;
    --md-sys-color-error-container: #FFCCD5;
    --md-sys-color-on-error-container: #620011;
    --md-sys-color-background: #F8FCFF;
    --md-sys-color-on-background: #191D20;
    --md-sys-color-surface: #F8FCFF;
    --md-sys-color-on-surface: #191D20;
    --md-sys-color-surface-tint: #4A708C;
    --md-sys-color-surface-variant: #DFE5EB;
    --md-sys-color-on-surface-variant: #32373B;
    --md-sys-color-outline: #73797F;
    --md-sys-color-outline-variant: #B3BFCB;
    --md-sys-color-primary-fixed: #C8E4FF;
    --md-sys-color-on-primary-fixed: #00152A;
    --md-sys-color-primary-fixed-dim: #8CC6FE;
    --md-sys-color-on-primary-fixed-variant: #173959;
    --md-sys-color-secondary-fixed: #D0E8FF;
    --md-sys-color-on-secondary-fixed: #101820;
    --md-sys-color-secondary-fixed-dim: #ADC5DC;
    --md-sys-color-on-secondary-fixed-variant: #2F3A44;
    --md-sys-color-tertiary-fixed: #FFB2D9;
    --md-sys-color-on-tertiary-fixed: #230012;
    --md-sys-color-tertiary-fixed-dim: #EB79B2;
    --md-sys-color-on-tertiary-fixed-variant: #4A1831;
    --md-sys-color-inverse-surface: #232629;
    --md-sys-color-inverse-on-surface: #E9F3FD;
    --md-sys-color-surface-dim: #CCD7E0;
    --md-sys-color-surface-bright: #F8FCFF;
    --md-sys-color-surface-container-lowest: #F7FAFC;
    --md-sys-color-surface-container-low: #F2F5F6;
    --md-sys-color-surface-container: #E9EBEC;
    --md-sys-color-surface-container-high: #F2F3F4;
    --md-sys-color-surface-container-highest: #E8EBED;
    --md-sys-color-scrim: #000000;
    --md-sys-color-shadow: #000000;
    --color-green: #4B8B4B;
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: #CBE5FF;
        --md-sys-color-on-primary: #244769;
        --md-sys-color-primary-container: #40668C;
        --md-sys-color-on-primary-container: #E3F1FF;
        --md-sys-color-secondary: #CDDCEA;
        --md-sys-color-on-secondary: #0F1A24;
        --md-sys-color-secondary-container: #4F6171;
        --md-sys-color-on-secondary-container: #D9EDFF;
        --md-sys-color-tertiary: #EDBFD6;
        --md-sys-color-on-tertiary: #480B2A;
        --md-sys-color-tertiary-container: #7B2852;
        --md-sys-color-on-tertiary-container: #FFC1E0;
        --md-sys-color-error: #FFABBA;
        --md-sys-color-on-error: #830017;
        --md-sys-color-error-container: #B80021;
        --md-sys-color-on-error-container: #FFE0E6;
        --md-sys-color-background: #0B0D0E;
        --md-sys-color-on-background: #F5F6F7;
        --md-sys-color-surface: #111519;
        --md-sys-color-on-surface: #E7EDF3;
        --md-sys-color-surface-tint: #B1D8FF;
        --md-sys-color-surface-variant: #43494E;
        --md-sys-color-on-surface-variant: #D2D7DB;
        --md-sys-color-outline: #A9B0B6;
        --md-sys-color-outline-variant: #545D65;
        --md-sys-color-primary-fixed: #DEEFFF;
        --md-sys-color-on-primary-fixed: #002446;
        --md-sys-color-primary-fixed-dim: #BADDFE;
        --md-sys-color-on-primary-fixed-variant: #265F94;
        --md-sys-color-secondary-fixed: #E3F1FF;
        --md-sys-color-on-secondary-fixed: #1A2836;
        --md-sys-color-secondary-fixed-dim: #CDDCEA;
        --md-sys-color-on-secondary-fixed-variant: #4F6171;
        --md-sys-color-tertiary-fixed: #FFD1E8;
        --md-sys-color-on-tertiary-fixed: #3A001D;
        --md-sys-color-tertiary-fixed-dim: #F3AFD1;
        --md-sys-color-on-tertiary-fixed-variant: #7B2852;
        --md-sys-color-inverse-surface: #E7EDF3;
        --md-sys-color-inverse-on-surface: #3A4045;
        --md-sys-color-surface-dim: #151A1F;
        --md-sys-color-surface-bright: #454B51;
        --md-sys-color-surface-container-lowest: #0F1419;
        --md-sys-color-surface-container-low: #1F252A;
        --md-sys-color-surface-container: #242A30;
        --md-sys-color-surface-container-high: #32383D;
        --md-sys-color-surface-container-highest: #3F454B;
        --md-sys-color-scrim: #000000;
        --md-sys-color-shadow: #000000;
        --color-green: #4B8B4B;
    }
}
